
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/zaposleni/forma.css}">
</head>

<div class="form-container">
    <h2 th:text="${zaposleni.id != null} ? 'Izmena zaposlenog' : 'Dodavanje zaposlenog'"></h2>

    <form th:action="@{/zaposleni/sacuvaj}" th:object="${zaposleni}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <div>
            <label>Ime:</label>
            <input type="text" th:field="*{ime}" required/>
        </div>

        <div>
            <label>Specijalizacija:</label>
            <input type="text" th:field="*{specijalizacija}" required/>
        </div>

        <button type="submit">Sačuvaj</button>
    </form>

    <a th:href="@{/zaposleni}" class="back-link">← Nazad</a>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
