<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Zaposleni</title></head>
<body>
<h2>Lista zaposlenih</h2>

<a th:href="@{/zaposleni/novi}">Dodaj novog</a>

<table border="1">
  <tr>
    <th>Ime</th>
    <th>Specijalizacija</th>
    <th>Akcije</th>
  </tr>
  <tr th:each="z : ${zaposleniLista}">
    <td th:text="${z.ime}">Ime</td>
    <td th:text="${z.specijalizacija}">Specijalizacija</td>
    <td>
      <a th:href="@{'/zaposleni/izmeni/' + ${z.id}}">Izmeni</a> |
      <a th:href="@{'/zaposleni/obrisi/' + ${z.id}}">Obriši</a>
    </td>
  </tr>
</table>
</body>
</html>
