<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Početna</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body th:class="${#authorization.expression('isAuthenticated()')} ? 'auth-background' : 'guest-background'">

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <h1>Dobrodošao u frizerski salon!</h1>

    <p sec:authorize="isAuthenticated()" th:text="'Ulogovani ste kao: ' + ${korisnik}"></p>
    <p sec:authorize="!isAuthenticated()">Ulogovani ste kao: Gost</p>
</div>

</body>
</html>
