<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Početna</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body th:class="${#authorization.expression('isAuthenticated()')} ? 'auth-background' : 'guest-background'">

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <h1>Dobrodošao u frizerski salon!</h1>

    <!-- Za ULOGOVANE korisnike -->
    <div sec:authorize="isAuthenticated()">
        <p th:text="'Ulogovani ste kao: ' + ${korisnik}"></p>
        <a th:href="@{/termini/novi}">
            <button>Rezerviši termin</button>
        </a>
    </div>

    <!-- Za GOSTE -->
    <div sec:authorize="!isAuthenticated()">
        <p>Dobrodošli! Prijavite se ili registrujte da biste zakazali termin.</p>
        <a th:href="@{/login}">
            <button>Prijavi se</button>
        </a>
        <a th:href="@{/register}">
            <button>Registruj se</button>
        </a>
    </div>
</div>

</body>
</html>
