<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prijava</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>


<div class="form-container">
    <h2>Prijava na sistem</h2>

    <form th:action="@{/login}" method="post" class="form-box">

        <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-group">
            <label for="password">Lozinka:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit" class="btn">Prijavi se</button>

        <div th:if="${param.error}">
            <p class="error">Neispravni podaci</p>
        </div>

    </form>

    <p class="switch-link">
        Nemate nalog? <a th:href="@{/register}">Registrujte se</a>
    </p>
    <p >
        <a th:href="@{/home}">Pocetna</a>
    </p>
</div>

</body>
</html>
